-f /cvmfs/soft.computecanada.ca/custom/python/wheelhouse/nix/sse3
-f /cvmfs/soft.computecanada.ca/custom/python/wheelhouse/nix/generic
-f /cvmfs/soft.computecanada.ca/custom/python/wheelhouse/generic
beautifulsoup4==4.9.0
certifi==2020.6.20
chardet==3.0.4
decorator==4.4.2
idna==2.10
lxml==4.4.1
numpy==1.19.1
pandas==1.0.5
py==1.9.0
python-dateutil==2.8.1
pytz==2020.1
requests==2.24.0
six==1.15.0
soupsieve==2.0
urllib3==1.25.10
